doctype html
html(lang="en")
    include html/head.pug
    title Главная
    body 
        include html/header
        main 
            h1  Learn Any Foreign Language
        include html/footer
        script(src="js/app.min.js") 