@import "fonts";
@import "nullstyle";
@import "header";

body, html {
    font-family: Poppins;
    font-size: 20px;
}
.container {
    margin: 0 auto;
    max-width: 1352px;
}
.logo {
    color: #000;
    span {
        color: #939393;
    }
}